---
layout: default
---
<div class="home">
  <section data-slide="0" class="segment slide">
    <div class="wrapper">
      <div class="inner">
        {% include slides/demonstrate-test-approve.html %}
      </div>
    </div>
  </section>
  <section data-slide="1" class="segment slide">
    <div class="wrapper">
      <div class="two-col">
        <div class="col">
          {% include slides/make-life-easier.html %}
        </div>
        <div class="col">
          {% image 'super-probo.png' alt="super probo" class="left" %}
        </div>
      </div>
    </div>
  </section>
  <section data-slide="2" class="segment slide blue-slide">
    <div class="wrapper">
      <div class="two-col">
        <div class="col">
          {% image 'probo-checks.png' alt="Probo checks" class="right" %}
        </div>
        <div class="col">
          {% include slides/continuous-integration.html %}
        </div>
      </div>
    </div>
  </section>
  <section data-slide="3" class="segment slide">
    <div class="wrapper">
      <div class="three-col">
        <div class="col">
          {% image 'clock.png' alt="clock" class="center" %}
          {% include slides/no-time-restrictions.html %}
        </div>
        <div class="col">
          {% image 'clouds.png' alt="clouds" class="center" %}
          {% include slides/synchronization.html %}
        </div>
        <div class="col">
          {% image 'synchronized.png' alt="synchronized" class="center" %}
          {% include slides/optimized-for-database-driven-apps.html %}
        </div>
      </div>
    </div>
  </section>
  <section data-slide="4" class="segment slide green-slide">
    <div class="wrapper">
      <div class="two-col">
        <div class="col">
          {% include slides/easy-integration.html %}
        </div>
        <div class="col">
          {% image 'probo-github-laptop.png' alt="Probo screenshot in Github" class="right" %}
        </div>

      </div>
    </div>
  </section>
  <section data-slide="5" class="segment slide">
    <div class="wrapper">
      <div class="two-col">
        <div class="col">
          {% image 'logos.png' alt="logos" class="left" %}
        </div>
        <div class="col">
          {% include slides/for-all-things.html %}
        </div>
      </div>
    </div>
  </section>
  <section data-slide="6" class="segment slide purple-slide">
    <div class="wrapper">
      <div class="two-col">
        <div class="col">
          {% include slides/open-source.html %}
        </div>
        <div class="col">
          {% image 'probo-screen.png' alt="Probo screen" class="center" %}
        </div>
      </div>
    </div>
  </section>
</div>
