<h2>Demonstrate. Test. Approve.</h2>
<p>When you make a new Pull Request, Probo sets up a copy of your site for you to preview. You can test your changes, see what things look like, and &mdash; when you're happy &mdash; merge in the changes. Probo keeps the environments around as long as you like, letting your developers, QA testers, project managers, and clients see your work in progress, review your work, or do final User Acceptance Testing.
</p>
<div class="row">
  <div class="column create">
    <div>
      {% image 'branch.png' alt="Probo branch" class="center" %}
    </div>
    <p class="column__content"><h3>Create a pull request from your branch</h3></p>
  </div>
  <div class="column test">
    <div>
      {% image 'test.png' alt="Probo test" class="center" %}
    </div>
    <p class="column__content"><h3>When your tests finish, see your results</h3></p>
  </div>
  <div class="column verify">
    <div>
      {% image 'verify.png' alt="Probo verify" class="center" %}
    </div>
    <p class="column__content"><h3>Verify the site still looks good with your own two eyes</h3></p>
  </div>
</div>
