$site-width: 1200px;
$bp-small-landscape: 480px / 16px * 1em;
$bp-medium-portrait: 768px / 16px * 1em;
$bp-medium-landscape: 1024px / 16px * 1em;
$bp-large: 1100px / 16px * 1em;
$bp-largeer: 1400px / 16px * 1em;