$site-width: 1200px;
$inner-width: 975px;
$inner-width-padding: ($site-width - $inner-width) / 2;
$base-spacing: 10px;

$bp-small-landscape: 480px / 16px * 1em;
$bp-medium-portrait: 768px / 16px * 1em;
$bp-medium-landscape: 1024px / 16px * 1em;
$bp-large: 1200px / 16px * 1em;
$bp-larger: 1500px / 16px * 1em;

$bp-is-phone: (max-width $bp-small-landscape);
$bp-is-tablet: (min-width $bp-medium-portrait) (max-width $bp-medium-landscape);

@font-face {
  font-family:Merriweather;
  font-style:normal;
  font-weight:400;
  src:local('Merriweather'),url(//themes.googleusercontent.com/static/fonts/merriweather/v5/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff')
}

@font-face {
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:local('Open Sans'),local('OpenSans'),url(//fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRZBw1xU1rKptJj_0jans920.woff2) format('woff2'),local('Open Sans'),local('OpenSans'),url(//fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');unicode-range:U+0100024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF
}