<footer class="site-footer">
    <div class="footer-learn-more">
        <div class="wrapper">
            <p>To learn more and see Probo in action <a class="button request" href="#">Request a demo today</a></p>
            <div class="right">
                <a href="https://github.com/ProboCI/probo" title="Probo on Github" target="_blank"><i class="fa fa-github-alt"></i></a>
                <a href="https://twitter.com/ProboCI" title="Sweet Probo Tweets" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="wrapper">
        {% image 'probo-logo-bw.png' alt='black and white probo logo' class='site-footer__logo' [resize:225] %}
        <ul class="footer-navigation right">
            {% for link in site.data.navigation %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class="login"><a href="https://app.probo.ci/" target="_blank"><i class="fa fa-cog">&nbsp;</i>Login</a></li>
        </ul>
        <div class="copyright">&copy; 2015 Probo.ci</div>
    </div>

</footer>

<div class="overlay"></div>