<header class="site-header">

    <div class="wrapper">

        <a id="simple-menu" href="#sidr">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.1 22.4" enable-background="new 0 0 29.1 22.4" xml:space="preserve">
                <rect x="0.1" y="0" fill="#3C122C" width="25" height="3"/>
                <rect x="0.1" y="8.1" fill="#3C122C" width="25" height="3"/>
                <rect x="0.1" y="16.2" fill="#3C122C" width="25" height="3"/>
            </svg>
        </a>

        <div id="sidr" style="display:none">
            <ul>
                {% for link in site.data.navigation %}
                <li><a href="/{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <a class="site-title" href="{{ site.baseurl }}/">{% image 'probo-logo-no-slogan.png' alt="Probo logo with name" %}</a>

        <ul id="navigation">
            {% for link in site.data.navigation %}
            <li><a href="/{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>

    </div>

</header>
