.blog-row {
  border-bottom: 1px solid #f7f2f5;
  margin-bottom: 24px;
  padding: 0 12px;
  padding-bottom: 24px;
  overflow: auto;
  zoom: 1;
}
.blog-post-date {
  text-decoration: none;
  color: #737373;
  background: #EBEBEB;
  padding: 12px;
  font-size: 12px;
  width: 100%;
  float: none;
  @include breakpoint($bp-medium-portrait) {
    width: 25%;
    float: left;
  }
}
.blog-post-preview {
  width: 100%;
  float: none;
  @include breakpoint($bp-medium-portrait) {
    width: 73%;
    float: right;
  }
  .blog-post-title {
    padding: 0;
  }
  h2 {
    margin: 0;
    font-size: 24px;
    a {
      text-decoration: none;
      color: #252021;
    }
  }
}
.post {
  .post-content {
    .message {
      visibility: hidden;
      height: 0;
    }
  }
}
.comments {
  padding: 24px;
}
header.post-header {
  border-bottom: 1px solid #f7f2f5;
  padding-bottom: 24px;
  margin-bottom: 24px;
  .post-meta {
    font-size: 14px;
    .date {
      color: #737373;
      font-weight: bold;
    }
  }
}