.site-footer {
  @include rem(font-size, 16px);
  background-color: $pale-grey;
  color: $grey;
  text-align: center;

  &__logo {
    display: block;
    margin: $base-spacing auto;
    filter: grayscale(1);
    opacity: 0.4;
  }
}