.site-footer {
  @include rem(font-size, 12px);
  background-color: $dark-grey;
  color: $grey;
  text-align: center;
  display: block;
  clear: both;
  overflow: hidden;
  color: $pale-grey;
  &__logo {
    display: block;
    margin: $base-spacing auto;
    filter: grayscale(1);
    opacity: 0.4;
  }
}
