input[type=submit] {
  @include button;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 12px;
  border: none;
  background-color: $pale-grey;
  color: $off-black;
  font-weight: bold;
  border: 1px solid $pale-grey;
  transition: all 0.2s ease;
  &:focus {
    transition: all 0.5s ease;
    outline: 1px solid $toledo;
    border: 1px solid $tapestry;
  }
}

.tinynav {
  display: block;
  @include breakpoint($bp-medium-portrait) {
    display: none;
  }
}

#sidebar-first ul {
  display: none;
  @include breakpoint($bp-medium-portrait) {
    display: block;
  }
}

select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

.updates-form {
  @include clearfix;
  // @include rem(font-size, 16px);
  width: 98%;
  background-color: $white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 5 * $base-spacing 2 * $base-spacing;
  max-width: 700px;

  h2 {
    @extend %h1;
    margin: 20px 0 10px;
  }

  &__background {
    display: none;
  }

  &__group,
  &__submit {
    float: left;
  }

  &__group {
    position: relative;
    margin-right: 5px;
  }

  @include breakpoint($bp-medium-portrait) {
    width: 650px;

    &__background {
      display: block;
      width: 30%;
      float: left;
    }

    &__form {
      width: 62%;
      float: right;
      text-align: center;
    }

    &__group {
      // margin-left: 50px;
    }
  }

  @include breakpoint($bp-large) {

    &__background {
      width: 33%;
    }

    &__form {
      width: 62%;
    }
  }
}

::-webkit-input-placeholder {
  color: $off-black;
}

::-moz-placeholder {
  color: $off-black;
}

/* firefox 19+ */
:-ms-input-placeholder {
  color: $off-black;
}

/* ie */
input:-moz-placeholder {
  color: $off-black;
}