$header-height:70px;
$header-line-height:45px;

.site-header {
  height: $header-height;
  width: 100%;
  opacity: 1;
  transition: none !important;
  background: #6b044c;
  @include breakpoint($bp-medium-portrait) {
    opacity: .95;
  }
  .wrapper {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
  }
  #simple-menu {
    position: absolute;
    left: 15px;
    top: 10px;
    display: block;
    z-index: 10000;
    height: 48px;
    width: 48px;
    padding: 12px 8px;
    @include breakpoint($bp-medium-portrait) {
      display: none;
      visibility: hidden;
      height: 0;
    }
  }
  h1.st{
    margin-bottom:0;
    @include breakpoint($bp-medium-portrait) {
      float: left;
    }
  }
  .site-title {
    display: block;
    margin: 0 auto;
    text-align: right;
    margin: 0 auto;
    line-height:$header-line-height;
    @include breakpoint($bp-medium-portrait) {
      float: left;
    }
    img {
      height: $header-line-height;
      width: auto;
    }
  }
}
// responsive nav styles
#sidr {
  ul {
    li {
      a {
        color: white;
        &:hover {
          background-color: #9b4a81;
          box-shadow: none;
        }
      }
    }
  }

  @include breakpoint($bp-medium-portrait) {
    @include visuallyhidden;
  }
}
ul#navigation {
  float: right;
  margin: auto;
  display: none;
  @include breakpoint($bp-medium-portrait) {
    display: block;
  }
  li {
    list-style-type: none;
    float: left;
  }
  a {
    display: block;
    text-decoration: none;
    float: none;
    clear: both;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #f7f2f5;
    line-height:$header-line-height;
    padding:0 12px;
    color: white;
    &:hover {
      text-decoration: underline;
    }
    @include breakpoint($bp-medium-portrait) {
      float: left;
      width: auto;
      clear: none;
      border-bottom: 0 solid #f7f2f5;
    }
  }
}