body {
  background-color: $white;
  * {
    box-sizing: border-box;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-content,
  .inner {
    flex: 1;
  }
}

.github-banner {
  display: none;
  // @include breakpoint($bp-medium-portrait) {
  //   display: block;
  // }
}

.wrapper {
  // width: 94%;
  margin: 0 auto;
  // padding: em(4 * $base-spacing) $inner-width-padding / 3;

  @include breakpoint($bp-medium-landscape) {
    width: 95%;
    padding: em(4 * $base-spacing) $inner-width-padding / 2;
  }

  @include breakpoint($bp-large) {
    width: $site-width;
    padding-left: $inner-width-padding;
    padding-right: $inner-width-padding;
  }
}
.sidebar-page {
  .page-content {
    padding-top: 0;
    @include breakpoint($bp-medium-portrait) {
      padding-top: 70px;
    }
  }
}
.page-content {
  padding-top: 70px;
}

.row {
  @include clearfix;
}

.column {
  padding: em($base-spacing);
}
