body {
  * {
    box-sizing: border-box;
  }
}

.wrapper {
  width: 98%;
  margin: 0 auto;
  padding: em(4 * $base-spacing) $inner-width-padding / 4;

  @include breakpoint($bp-medium-landscape) {
    width: 95%;
    padding: em(4 * $base-spacing) $inner-width-padding / 2;
  }

  @include breakpoint($bp-large) {
    width: $site-width;
    padding-left: $inner-width-padding;
    padding-right: $inner-width-padding;
  }
}