body {
  background-color: $white;
  * {
    box-sizing: border-box;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .site-content,
  .inner {
    flex: 1;
  }
}

.github-banner {
  display: none;
}

.wrapper {
  // width: 94%;
  margin: 0 auto;
  padding: 10px 22px;
  @include cf;
  @include breakpoint($bp-medium-landscape) {
    width: 95%;
  }

  @include breakpoint($bp-large) {
    max-width: $site-width;
    padding-left: $inner-width-padding;
    padding-right: $inner-width-padding;
  }
}
.sidebar-page {
  .page-content {
    padding-top: 0;
    @include breakpoint($bp-medium-portrait) {
    }
  }
}
.page-content {
  // padding-top: 70px;
}

.row {
  @include clearfix;
}

.column {
  padding: em($base-spacing);
}

table {
  padding: 0;
  margin-bottom: 24px;
  tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
    th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: em($base-spacing);
    }
    td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: em($base-spacing);
    }
  }
  tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
  }
}