.wrapper {
  #sidebar-first {
      display: block;
      width: 100%;
      float: none;
      margin-bottom: 24px;
      @include breakpoint($bp-medium-portrait) {
      width: 24%;
      float: left;
      }
    h4 {
      padding: 12px;
      margin: 0;
      font-size: 14px;
      border: 1px solid #f7f2f5;
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
    ul {
      padding-left: 0;
      font-size: 14px;
      margin: 0;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          display: block;
          padding: 12px;
          border: 1px solid #f7f2f5;
          background: #faf9f9;
          &:hover {
            background: #e4d1de;
          }
        }
        a.current {
          background: #f7f2f5;
        }
      }
    }
  }
  .page-content {
    padding-bottom: 24px;
    width: 100%;
    float: none;
    clear: both;
    @include breakpoint($bp-medium-portrait) {
      width: 70%;
      float: right;
      clear: none;
    }
  }  
}
