.home {
  display: table;
  width: 100%;
}

.slide {
  margin: 0;  
  text-align: center;
  display: table-row;

  .inner {
    padding: 50px 0;
    display: table-cell;
    vertical-align: middle;
  }

  .row {
    margin: 0 auto;

    @include breakpoint($bp-large) {
      width: 70%;
    }
  }

  h2 {
    @extend %h1;
    margin-bottom: $base-spacing;
  }

  img {
    width: 98%;
    display: block;
    margin: em(4 * $base-spacing) auto;

    @include breakpoint($bp-medium-portrait) {
      width: 400px;
    }

    &.full-width {
      max-height: 60vh;
    }
  }

  .button {
    @include button($finn, $off-white, $finn, 0);
    text-transform: uppercase;
  }
}

[data-slide='0'] {
  background: image-url('probo-gradient-bg.png') top left repeat-x #19010E;
  background-size: cover;
  color: $off-white;
}

[data-slide='1'] {
  color: $off-black;
}

[data-slide='2'] {
  background-color: $toledo;
  color: $off-white;
}

[data-slide='3'] {
  background-color: white;
  color: $off-black;
}

.column.create,
.column.test,
.column.verify {

  @include breakpoint($bp-medium-portrait) {
    width: 30%;
    float: left;
    margin-right: 5%;

    &:last-child {
      margin-right: 0;
    }
  }



  @at-root {
    .column__svg {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      svg {
        width: 100%;
        height: 100%;
      }

      @include breakpoint($bp-large) {
        width: 150px;
        height: 150px;
      }
    }

    .column__numeral {
      @extend %h2;
      display: block;
      margin: 0;
    }

    .column__content {
      @include rem(font-size, 15px);
    }
  }
}