.team {
  background: none;
  text-align: center;
  .member {
    width: 44%;
    margin: 12px 3% 40px 3%;
    display: inline;
    float: left;
    padding: 12px;
    transition: left 0.5s;
    &:nth-of-type(1n) {
      margin-left: 0;
    }
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:nth-child(2n + 1) {
      clear: both;
    }
    @include breakpoint($bp-small-landscape) {
      width: 31%;
      margin: 12px 1% 40px 1%;
      &:nth-of-type(1n) {
        margin-left: 0;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-child(2n + 1) {
        clear: none;
      }
      &:nth-child(3n + 1) {
        clear: both;
      }
    }
    @include breakpoint($bp-medium-portrait) {
      width: 24%;
      margin: 12px 2% 40px 2%;
      &:nth-of-type(1n) {
        margin-left: 0;
      }
      &:nth-of-type(4n) {
        margin-right: 0;
      }
      &:nth-child(3n + 1) {
        clear: none;
      }
      &:nth-child(4n + 1) {
        clear: both;
      }
    }
    .pic {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    .name {
      color: #373737;
      font-weight: bold;
    }
  }
}
