<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="sidebar-page">

    {% include header.html %}

    <div class="wrapper">

      <div id="sidebar-first">
        <h4>{% link /docs/ Getting Started %}</h4>
        {% include sidebars/docs.md %}
      </div>

      <div class="page-content">
          {{ content }}
      </div>

    </div>

    {% include footer.html %}

    {% include updates-form.html %}

    {% include github-fork.html %}

    {% javascript probo %}
  </body>

</html>
